<div>
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-md bg-info navbar-dark fixed-top shadow-lg">
        <a class="navbar-brand font-weight-bold" ><img src="../../assets/images/logo.jpg" alt="logo" class="img-fluid rounded" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-4">
                <a class="nav-link text-white font-weight-bold" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
            <li class="nav-item pr-4">
              <a class="nav-link text-white font-weight-bold" routerLink="/orders" routerLinkActive="active">Order</a>
            </li>
            <li class="nav-item pr-4">
              <a class="nav-link text-white font-weight-bold" routerLink="/cart" routerLinkActive="active">Cart 
                <span *ngIf = "cartItems.length === 0 then zero else itemsnumber" ></span></a>

                <ng-template #zero> <span class="badge badge-light ml-1">0</span> </ng-template>
                <ng-template #itemsnumber><span class="badge badge-light ml-1">{{cartItems.length}}</span></ng-template>
            </li>
          </ul>
        </div>  
      </nav>
    <!-- Navbar end -->

      <!-- Products area start -->
      <div class="cotainer-fluid p-0 m-0">
        <img src="../../assets/images/p.jpg" alt="Welcome" class="img-fluid mt-5" width="100%" style="height: 450px;">
      </div>

      <!-- <div class="container">
              <div *ngFor = "let product of productslist">
                <app-productlist [pl]="product"></app-productlist>
              </div>
      </div> -->

            <div class="container">
          <h2 class="mt-5 text-center tect-danger font-weight-bold line">Products</h2>
<section style="margin-top: 60px; margin-bottom: 60px;">
  <div class="row mb-5"> 
    <div class="col-sm-4 mb-5" *ngFor="let pp of productslist; let i=index">
        <div class="card-shadow">
            <div class="row">
                <div class="col-sm-4">
                    <img [src]="pp.imgurl" alt="">
                </div>
                <div class="col-sm-8">
                    <ul style="list-style-type: none;">
                        <li class="font-weight-bolder"><p>{{pp.description}}</p></li>
                        <li><p style="color: green; font-weight: 600;">Extra ₹1200 discount</p></li>
                        <li>Price: ₹{{pp.price}}  &nbsp; </li>
                        <li><p style="color: green; font-weight: 600;">{{pp.offer}}</p></li>
                        <li> <button type="submit" class="btn btn-danger rounded-0" (click)="addtoCart(pp)">Add to Cart</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 
</section>  
    </div>
      <!-- Products area end -->
      <!-- Footer -->
      <div>
        <footer class="py-2 bg-info">
            <h6 class="text-center text-white">Shoppingcart &copy; 2020 Reserveed</h6>
        </footer>
    </div>

</div>